/* All */
html, body, #root {
  height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-container {
  flex: 1; /* Fill remaining vertical space */
}

.footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
}

/* Navbar */
.navbar{
  display: flex;
  /* width: 100%; */
  flex-wrap: nowrap !important;
  margin: 0;
  padding: 15px 20px 15px 10px !important;
  background-color: rgb(60, 124, 252);
}

.navBrand{
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  align-items: center;
  margin: 0 10px 0 15px;
  order: 1;
}

.navLogo{
  margin-right: 10px;
  width:50px;
}

.navBrandName{
  margin: 10px 0 0 0;
  color: rgb(105, 58, 247);
  font-family: "Timmana", sans-serif;
  font-size: 22pt;
}

.navBrandName:hover{
  color: rgb(82, 189, 206);
}

.navLinks{
  display: flex;
  order: 3;
}

.navLink {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.navFormContainer{
  width: 50vw;
  order: 2;
}

.navForm {
  display: flex;
  align-items: center;
  margin: 0 10px 0 15px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper .input-search-icon {
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

input[type="search"] {
  padding-left: 30px; /* Adjust to accommodate the icon width and padding */
  padding-right: 60px;
  border-radius: 5px;
  border: none;
  margin: 0 10px 0 0;
  width: 100%;
}

.navSearchForm {
  width: 40% !important;
  order: 2;
}

.navSearch {
  width: 100% !important;
}


.searchBtn {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  margin: 0 10px 0 0;
  background-color: #504aff;
  color: white;
  border: none;
}

.icon-container{
  margin: 0 10px;
  padding: 5px 10px;
}

.bi.bi-cart4,.bi-person-fill{
  color:rgb(82, 189, 206) !important;
  margin: 5px 10px;
}

.bi.bi-cart4:hover,.bi-person-fill:hover{
  color:rgb(122, 78, 255) !important;
}

.search-icon{
  width: 15px;
  margin: 0 5px;
  padding-bottom: 3px;
}

/* Media query for smaller screens */
@media  screen and (max-width: 600px) {
  .navbar{
    flex-wrap: wrap !important; 
    padding: 10px 5px 15px 5px !important;
  }

  .navSearchForm {
    width: 100% !important;
    margin: 5px 0 10px;
    order: 4;
  }

  .bi.bi-cart4,.bi-person-fill{
    margin: 5px;
  }
  
}

/* Footer */
.footer-container {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container-checkout{
  background-color: #333;
  color: white;
  margin-top: 400px;
  padding: 20px;
  text-align: center;
}

.footer-items-container{
  display: grid;
  place-content: center;
}

.footer-logo{
  justify-self: center;
  height: 70px;
  margin-bottom: 20px;
}

.footer-logo:hover{
  cursor: pointer;
}

.footer-links{
  display: flex;
  justify-content: space-between;
}

.footer-link{
  text-align: center;
  text-decoration: none;
  color: rgb(202, 202, 202);
}

.footer-link:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.copyright{
  margin: 15px;
  text-align: center;
  font-size: 11px;
  color: #727272;
}


/* Login */
.main-container{
  display: grid;
  place-content: center;
}

.loginLogo {
  width: 75px;
  place-self: center;
  margin-bottom: 15px;
}

.alert-container {
  margin-top: 20px;
}

.login-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  background-color: rgb(253, 253, 253);
  width: 400px;
  margin-top: 40px;
  padding: 30px;
  border-radius: 5px;
  border: solid;
  border-color: rgb(199, 199, 199);
  border-width: 1px;
}

.error-msg {
  color: red;
  font-style: italic;
}

label {
  font-size: 12pt;
}

.loginInput {
  margin: 10px;
  box-shadow: 2px 2px 8px rgb(74, 74, 74);
  border-radius: 5px;
  width: 90%;
}

.submit-btn {
  margin: 10px;
  background-color: rgb(127, 121, 227);
  width: 90%;
  border: solid;
  border-width: 2px;
  border-color: rgb(55, 55, 74);
  border-radius: 5px;
}

.submit-btn:hover{
  color: white;
  background-color: rgb(45, 45, 96);
}

.create-account-link{
  border: solid grey 1px;
  border-radius: 4px;
  padding: 3px;
  text-align: center; 
  text-decoration: none;
  color: grey;
  font-size: 11pt;
}

.create-account-link:hover{
  color: white;
  background-color: rgb(183, 183, 183);
}

.signout-link{
  text-align: center;
  font-size: 11pt;
  color: #727272;
  text-decoration: none;
}

.signout-link:hover{
  color:#6401f9;
  text-decoration: underline;
}

@media screen and (max-width:600px){
  .login-container {
    width: 300px;
    margin: 20px;
  }
}
@media screen and (max-width:360px){
  .login-container {
    width: 250px;
    margin: 20px;
  }
  .icon-container{
    margin: 0 10px;
  }
  .navBrand{
    margin: 0 0 0 5px;
  }
  .navBrandName {
    font-size: 12pt;
  }
}

/* Home */
.home-container{
  display: grid;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.advertisement{
  width: auto;

}

.category-container{
  display: flex !important;
  justify-content: space-between;
}

.category-pill-container{
  display: flex;
  flex-wrap: nowrap;
}

.category-pill{
  display: flex;
  margin: 2px 20px ;
  padding: 0 8px;
  border: solid;
  border-radius: 20px !important;
  border-width: 1px;
  color: rgb(100, 58, 252);
}

.x{
  margin: 2px 2px 2px 8px;
}

.x:hover{
  font-weight: bolder;
  font-size: 13pt;
  cursor: pointer;
}

.container{
  margin: 30px;
}

.card-title:hover, .card-img:hover{
  cursor: pointer !important;
}

.rating-container{
  margin-bottom: 10px;
}

.starbox{
  display: inline;
}

/* Single Product */
.quantity-container{
  display: flex;
}

.counter{
  display: flex;
  margin: 0 20px 10px 0px;
  align-content: center;
  background-color: #fafafa;
  border: solid #bebebe 1px;
  border-radius: 5px;
}

.counter-items{
  margin: 0 5px;
  padding: 4px;
  align-self: center;
  text-align: center;
  font-size: 10pt;
  align-items: center !important;
  justify-content: center !important;
}

.counter-btn{
  height: 30px;
  width: 30px !important;
}

.back-link{
  font-size: 11pt;
  text-decoration: none;
  color: #6401f9;
}

.back-link:hover{
  text-decoration: underline;
}

.similar-items-container{
  margin-top: 100px;
 }

@media  screen and (max-width: 600px) {
  .addToCartBtn{
    width: 100% !important;
  }
}

/* Cart */
.summary-container{
  background-color: #e4e4e4;
  padding: 10px;
  margin-bottom: 10px;
}

.order-summary{
  display: flex;
  justify-content: space-between;
}


/* Checkout */
.image {
  width: 6rem !important;
  justify-self: center !important;
}

@media  screen and (min-width: 600px) {
  .proceed-btn{
    width: 200px !important;
  }


}

@media  screen and (max-width: 600px) {
  .proceed-btn{
    width: 100% !important;
  }

}

/* Account */
@media  screen and (max-width: 775px) {
  .profile-form{
    width: 20rem !important;
  }
}

@media  screen and (max-width: 500px) {
  .profile-form{
    width: 15rem !important;
  }
}
